body{
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

}



a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}

.userCard{
  border: 1px solid black;
  margin-top: 10px;
}